// .attribution {
//     font-size: 11px;
//     radio-  name="toggle" class="header__switch__button"align: center;
//   }
//   .attribution a {
//     color: hsl(228, 45%, 44%);
//   }

  body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }