
.container  {
    background-color: var(--main-background);
    font-family: 'League Spartan', sans-serif;
    padding: 25px 0;
    width: 85%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    // background-color: --main-background;

    &__header  {
        display: flex;
        & > h1 {
            font-size: 1.8rem;
        }
    }
    &__result  {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 25px;
        background-color: var(--screen-background);
        border-radius: 12px;
        height: 95px;
        width: 100%;
        font-size: 2.2rem;
        margin-bottom: 10px;
    }
    &__body  {
        padding: 20px;
        border-radius: 12px;
        background-color: var(--toggle-background_keypad-background);
        width: 100%;
        display: grid;
        align-content: space-evenly;
        place-items: center;
        gap: 15px;
       
        &__keys{
            @include specialKeys ;
            color: var(--text-keys);
            background-color: var(--keys-background);
            font-size: 1.7rem;
            box-shadow:0px 4px 0px 0px var(--keys-shadow);
        }
    
        .key--1  {
            grid-area: 3/1/4/2;
        }
        .key--2  {
            grid-area: 3/2/4/3;
        }
        .key--3  {
            grid-area: 3/3/4/4;
        }
        .key--4  {
            grid-area: 2/1/3/2;
        }
        .key--5  {
            grid-area: 2/2/3/3;
        }
        .key--6  {
            grid-area: 2/3/3/4;
        }
        .key--7  {
            grid-area: 1/1/2/2;
        }
        .key--8  {
            grid-area: 1/2/2/3;
        }
        .key--9  {
            grid-area: 1/3/2/4;
        }
        .key--0  {
            grid-area: 4/2/5/3;
        }
        .key--add  {
            grid-area: 2/4/3/5;
        }
        .key--sus  {
            grid-area: 3/4/4/5;
        }
        .key--div  {
            grid-area: 4/4/5/5;
        }
        .key--mult  {
            grid-area: 4/3/4/5;
        }
        .key--dot  {
            grid-area: 4/1/5/2;
        }
    
        &__delete  {
            grid-area: 1/4/2/5;
            @include specialKeys ;
            color: var(--white-text);
            background-color: var(--key-del-background);
            box-shadow:0px 4px 0px 0px var(--key-del-shadow);
            font-size: 1.3rem;
        }
        &__reset  {
            grid-area: 5/1/6/3; 
            @include specialKeys;
            font-size: 1.2rem;
            background-color: var(--key-del-background);
            color: var(--white-text);
            box-shadow:0px 4px 0px 0px var(--key-del-shadow);
        }
        &__calc  {
            grid-area:5/3/6/5 ;
            @include specialKeys;
            background-color: var(--key-calc-background_toggle);
            color: var(--white-text);
            font-size: 1.2rem;
            box-shadow: 0px 4px 0px 0px var(--key-calc-shadow);
        }
    }
}

.header  { 
    display: flex;
    justify-content: space-between;

    &__switch  {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        &__title  {
            display: flex;
            justify-content: space-evenly;
            
        }
        &__buttons  {
            position: relative;
            display: flex;
            justify-content: space-evenly;
            height: 20px;
            width: 75px;
            border-radius: 18px;
            background-color: var(--toggle-background_keypad-background);

            &::after  {
                content: "THEME";
                position: absolute;
                left: -75px;
                font-size: 0.8rem;
                top: 50%;
                transform: translateY(-50%);
            }

            .round-slider  {
                    position: absolute;
                    z-index: 0;
                    border-radius: 50%;
                    background-color: var(--key-calc-background_toggle);
                    width: 15px;
                    height: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 8px;
                    transition: left 0.5s;
                    
                }
            }
    }
}

button {
    font-family: 'League Spartan', sans-serif;
    z-index: 10;
    border: 0;
    background-color: transparent;
    font-weight: 700;

    &:hover  {
        cursor: pointer;
    }
}

